# Logs

logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
\*.local

# Editor directories and files

.vscode/_
!.vscode/extensions.json
.idea
.DS_Store
_.suo
_.ntvs_
_.njsproj
_.sln
\*.sw?

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.sqlite3

# Virtual environment
venv/
.env/

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log